# Laravel specific
vendor/
node_modules/
public/storage
storage/*.key
.env
.env.*.local
.phpunit.result.cache
.vscode
.idea
.composer

# Composer dependencies
composer.lock

# NPM/Yarn dependencies
package-lock.json
yarn.lock

# Laravel Dusk
.dusk-test*

# IDE and editor folders
.vscode/
.idea/

# Mac system files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Log files
storage/logs/*.log

# Cache files
storage/framework/cache/data/*
storage/framework/views/*
storage/framework/sessions/*

# Exclude compiled class files
storage/framework/views/*
bootstrap/cache/*

# Test files
phpunit.xml.dist

# Optional: PHPStorm & Sublime Text
.phpstorm.meta.php
.sublime-project
.sublime-workspace
